.App, h1 {
  text-align: center;
}

a {
  text-decoration: none;
}

button, .button {
  margin-top: 2px;
  margin-bottom: 2px;
  cursor: pointer;
  outline: 0;
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
button:hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
}

#root {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.App {
  width: 400px;
  max-width: 400px;
}
#log {
  max-width: 160px;
}
hr, h2, h3 {
  margin-top: 12px;
  margin-bottom: 12px;
}
hr {
    border: 0;
    height: 1px;
    background: #a6aaad;
}
br, p {
  margin-top: 2px;
  margin-bottom: 2px;
}